<div class="container-fluid fullView">

    <div class="bg-img"></div>

    <!-- NavBar -->
    <div class="nav navbar-fixed-top">
        <div class="container-fluid wholeNav">
            <div class="navbar-brand">
                <a href="/"><img class="nav-logo" src="/images/odesza-logo.png" alt=""></a>
            </div>
            
            <div class="navbar-nav">
                  <div class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                  </div>
                  <div class="nav-item">
                    <a class="nav-link active" href="/albums">Albums</a>
                  </div>
                  <div class="nav-item">
                    <a class="nav-link active" href="/chat">Chat</a>
                  </div>
                  <div class="nav-item">
                    <a class="nav-link active" href="/forums">Forums</a>
                  </div>        
                </div>
        </div>
    </div>