.content-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
}
.chat-messages{
    width: 43%;
    height: 37%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
}
.chat-title{
    margin: 0px;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 11px;
}
.chat-data {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.chat-data::-webkit-scrollbar {
    width: 3px;
}
.chat-data::-webkit-scrollbar-thumb {
    background-color: rgb(67, 176, 241); 
    border-radius: 3px; 
}
.chat-form{
    width: 43%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
    margin-top: 37px;
}
.name-input{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
    border: 0px;
    margin-bottom: 5px;
    width: 50%;
}
.message-input{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
    border: 0px;
    margin-bottom: 5px;
    resize: none;
}
.submit-btn{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
    border: 0px;
    height: 35px;
}
.submit-btn:hover{
    cursor: pointer;
    background-color: #34C759;
}
.chatIcon{
    margin-left: 7px;
    padding-top: 2px;
}
.messages-from-chat{
    font-size: 15px;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
    margin: 7px 7px;
    background-color: rgba(0, 0, 0, 0.67);
    border-radius: 11px;
    width: 80%;
}
.name-and-title{
    padding: 3px 11px 0px 11px;
    display: flex;
    justify-content: space-between;
    color: #43B0F1;
}
.name-from-data{
    margin-right: 5px;
}
.message-from-data{
    padding: 1px 11px;
}
