.content-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
}
.forum-form{
    padding: 0px;
    width: 43%;
    height: 67%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
}
.forums-title{
    display: flex;
    justify-content: start;
    align-items: start;
}
.forum-messages{
    width: 43%;
    height: 43%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
}
.message-form-title{
    margin-top: 18.3px;
    margin-bottom: 0px;
}
.messages-title{
    margin: 0px;
    padding-left: 3px;
}
.messages-data {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.messages-data::-webkit-scrollbar {
    width: 3px;
}
.messages-data::-webkit-scrollbar-thumb {
    background-color: rgb(67, 176, 241); 
    border-radius: 3px; 
}
.message-form{
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
    margin-top: 5px;
}
.name-input{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
    border: 0px;
    margin-bottom: 5px;
    width: 50%;
}
.title-input{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
    border: 0px;
    margin-bottom: 5px;
}
.message-input{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
    border: 0px;
    margin-bottom: 5px;
    resize: none;
}
.submit-btn{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
    border: 0px;
    height: 35px;
}
.submit-btn:hover{
    cursor: pointer;
    background-color: #FD6C3D;
}
.messages-from-forums{
    font-size: 15px;
    color: white;
    font-family: 'Konkhmer Sleokchher', cursive;
    margin: 5px 7px;
    background-color: rgba(0, 0, 0, 0.5);
}
.name-and-title{
    padding: 3px 7px 0px 7px;
    display: flex;
    color: #43B0F1;
}
.name-from-data{
    margin-right: 5px;
}
.title-from-data{
    margin-left: 5px;
}
.message-from-data{
    padding: 1px 7px;
}
.close-btn{
    top: 1px;
    right: 1px;
    color: white;
    padding-left: 5px;
}
.close-btn:hover{
    cursor: pointer;
}
@media only screen and (max-width: 660px){
    .forum-messages{
        width: 47%;
    }
    .forum-form{
        width: 47%;
    }
    .name-input{
        width: 100%;
    }
}
@media only screen and (max-width: 500px){
    .content-main{
        display: flex;
        flex-direction: column;
    }
    .forum-form{
        height: 43%;
        width: 67%;
        flex-direction: row;
        margin-bottom: 47px;
    }
    .forums-title{
        display: none;
    }
    .forum-messages{
        width: 80%;
        height: 20%;
        font-size: 12px;
    }
    #message-form-name{
        font-size: 12px;
    }
    #message-form-title{
        font-size: 12px;
    }
    #message-form-message{
        font-size: 12px;
    }
    .forums-title{
        display: none;
    }
    .submit-btn{
        font-size: 12px;
    }
}
@media only screen and (max-height: 753px){
    .forums-title{
        display: none;
    }
    .forum-form{
        margin-bottom: 97px;
    }
    .forum-messages{
        margin-bottom: 50px;
    }
}
@media only screen and (max-height: 630px){ 
    .message-form-title{
        display: none;
    }
}