.content-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.button{
    font-family: 'Konkhmer Sleokchher', cursive;
    text-transform: uppercase;
    padding: 3px 17px;
    font-size: 17px;
    color: black;
    border: none;
    border-radius: 5px;
}
.button:hover{
    cursor: pointer;
}

@media only screen and (max-width: 759px){
    .spotify-embed{
        width: 67%;
    }
}
@media only screen and (max-width: 540px){
    .spotify-embed{
        width: 80%;
    }
}